<%= turbo_frame_tag "cart" do %>
<section class="h-100" style="background-color: #f9f4f0;">
		<div class="container py-5 h-100">
			<div class="d-flex h-100 p-0 border rounded bg-white">
          <% if @cart.orderables.count > 0 %>
            <%= render "cart/orderables" %>
          <% else %>
            <%= render "cart/noorderables" %>
          <% end %>
        </div>
		</div>
</section>
<% end %>