<%= turbo_frame_tag "cart" do %>
  <div class="container">
    <h1 class="mb-4">Panier</h1>
    <% if @cart.orderables.count > 0 %>
      <%= render "cart/orderables" %>
      <p class="mb-4">Total: <%= @cart.total %></p>
    <% else %>
      <p class="mb-4">Votre panier est vide</p>
    <% end %>
  </div>
<% end %>