<div class="card bg-light d-flex flex-column">
    <div class="card-body">

        <h5 class="card-title mb-2">Filtres</h5>
        <div class="price mb-4">
            <h6>Prix</h6>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="option1" id="priceOption1">
                <label class="form-check-label" for="priceOption1">0 - 10€</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="option2" id="priceOption2">
                <label class="form-check-label" for="priceOption1">10 - 20€</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="option3" id="priceOption2">
                <label class="form-check-label" for="priceOption1">20 € et plus</label>
            </div>
        </div>
        
        <div class="races mb-4">
            <h6>Races</h6>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="option1" id="catOption1">
                <label class="form-check-label" for="catOption1">
                Siamois
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="option2" id="catOption2">
                <label class="form-check-label" for="catOption2">
                Main-Coon
                </label>
            </div>
        </div>
        
        <div class="publicationdate mb-4">
            <h6>Published Date</h6>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="option1" id="dateOption1">
                <label class="form-check-label" for="dateOption1">
                Dernières 24 heures
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="option2" id="dateOption2">
                <label class="form-check-label" for="dateOption2">
                Moins de 7 jours
                </label>
            </div>
        </div>

        <div class="tri mb-4">
            <h6>Tri par</h6>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sortOption" id="popularOption" checked>
                <label class="form-check-label" for="popularOption">
                Les plus populaires 🐱
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sortOption" id="lastPostedOption">
                <label class="form-check-label" for="lastPostedOption">
                Les plus récents 😼
                </label>
            </div>
        </div>
    </div>
</div>