<div class="d-flex w-100 h-100 p-3 pt-0 mx-auto flex-column mt-0">
   <hr />
  <footer class="d-flex justify-content-between align-items-center">
      <div class="bloc-1 col-4"><a>
              <%= image_tag('logo.png', alt: 'Image def', class: 'img-fluid smaller-image', style:'max-width: 150px; max-height: 150px;') %>
            </a></div>
      <div class="bloc-2 col-4 text-center">© 2023 Miaou, THP Project</></div>

      <div class="bloc-3 col-4"><ul class="nav justify-content-end">
        <p>
          by. 
          <a href="https://github.com/Aureldpz" class="link-footer">Aur</a>,
          <a href="https://github.com/Jakfamily" class="link-footer">Jea</a>,
          <a href="https://github.com/Rochaya" class="link-footer">Oli</a>,
          <a href="https://github.com/williamdore" class="link-footer">Wil</a>,
          <a href="https://github.com/mathieustrosberg" class="link-footer">Mat</a>
        </p>
  </footer>
</div>